.newsItem {
	background-color: #CCCCFF;
	margin-top: 8px;
	align-items: baseline;
	display: flex;
	padding: 3px;
}
.newsItem-titleLink {
	color: #333;
	font-size: 13pt;
	text-decoration: none;
	padding: 2px;
}
.newsItem-itemText {
	flex-grow: 1;
}
.newsItem-domain {
	color: #666;
	font-size: 10pt;
	margin-left: 15px;
}
.newsItem-rank {
	flex-basis: 25px;
	font-size: 12pt;
	text-align: right;
}
.newsItem-vote {
	flex-basis: 20px;
	text-align: center;
}
.newsItem-subtext {
	font-size: 10pt;
}
.newsItem-subtext > a {
	color: #FF7F50;
	text-decoration: none;
}
.newsItem-subtext > a:hover {
	text-decoration: underline;
}