/* 全部css样式采用弹性盒子模型
   对浏览器差异和移动端更好适应 */

.newsHeader {
	background-color: #9999FF;
	color: #000;
	font-size: 14pt;
	padding: 4px;
	display: flex;
	align-items: center;
}
.newsHeader-logo {
	height: 18px;
	flex-basis: 18px;
	border: 1px solid #fff;
}
.newsHeader-logo img {
	height: 15px;
	width: 15px;
	margin: 1px;
}
.newsHeader-textLink {
	color: #000;
	text-decoration: none;
}
.newsHeader-title > a {
	font-weight: 700;
	margin-left: 10px;
}
.newsHeader-nav {
	flex-grow: 1;
	margin-left: 25px;
}
.newsHeader-navLink:not(:first-child)::before {
	content: '  |  ';
	color: #CCEEFF;
}
.newsHeader-login {
	margin-right: 20px;
}